<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="./CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    
    <title>Document</title>
    
</head>
<body class= 'body'>
 
    <header>
     <img src = "/images/logo-mercado-liebre.svg" class="logo-mercado">

        <nav><input type="search" name="busquedaProductos" placeholder="Busqueda producto, marcas."> <i class="fas fa-search"></i>
        </nav>
        <p id='compra-en-cuotas'><i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin tarjeta de credito</p>
    
    

        <section class="seccion-header">
            <ul>
            <li><a href="">Ofertas</a></li>
       
            <li><a href="">tiendas oficiales</a> </li>
       
            <li><a href="">Vender</a></li>
       
            <li><a href="">ayuda</a></li>
            </ul>
       
            <ul>
            <li><a href='/register'>crea tu cuenta</a><i class="far fa-id-card"></i>
            </li>
            
            <li><a href='/login'>ingresa</a><i class="fas fa-sign-in-alt"></i></li>
            
            <li><a href="">mis compras</a><i class="fas fa-shopping-basket"></i>
            </li>
    
            </ul>
        </section>

    
        <article><div class="burger-menu"> 
            <i class="fas fa-bars"></i> 
            </div></article>
        
    
        <img src="/images/img-home-banner.jpg" width= "400px" id="banner" >
    
    
       


    </header>


 
    <main>
    <section>
        <h1 class='titulares'>última visita</h1>
        <section class="sections">
            <article class='secciones'>
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" width= "90%">
                </figure>
                <div class='articulos'>
                <div class='truck'><i class="fas fa-truck"></i></div>
                <div class="precio-oferta"><p class='precios'>$6.770</p>
                <p class='ofertas'>40% OFF</p></div>
                <p class='producto'>Cafetera Moulinex</p>
                </div>
            </article>
        
            <article class='secciones'>
                <figure>    
                    <img src= "/images/img-macbook-pro-2019.jpg " width="90%">
                </figure>
                <div class='articulos'>
                <div class='truck'><i class="fas fa-truck"></i>
                </div>
            
                <p class='precios'>$230.000</p>
                <p class='ofertas'>20% off</p>
                <p class='producto'>MacBook Pro 2019</p>
                </div>
            </article> 
            <article class='secciones'>
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="90%">
                </figure>
                <div class='articulos'>
                <div class='truck'><i class="fas fa-truck"></i>
                </div>
                <p class='precios'>$70.500</p>
                <p class='ofertas'>10% off</p>
                <p class='producto'>Samsung Galaxy S10</p>
                </div>
            </article>
            <article class='secciones'>
                <figure>
                    <img src ="/images/img-tv-samsung-smart.jpg" width="90%">
                </figure>
                <div class='articulos'>
                <div class='truck'><i class="fas fa-truck"></i>
                </div>
                <p class='precios'>$23.200</p>
                <p class='ofertas'>5% off</p>
                <p class='producto'>SmartTv Samsung 43"</p>
                </div>
            </article>   
        </section>  
    </section>

    <section >
        <h1 class='titulares'>Seccion De Ofertas</h1>
     
        <section class="sections">

            <article class='secciones'>
            <figure>
                <img src="/images/img-cafetera-moulinex.jpg" width="90%">
            </figure>
            <div class='articulos'>
            <div class='truck'><i class="fas fa-truck"></i>
            </div>
            <p class='precios'>$6.770</p>
            <p class='ofertas'>40% OFF</p>
            <p class='producto'>Cafetera Moulinex</p>
            </div>
            </article>
            
            <article class='secciones'>
                <figure>
                    <img src= "/images/img-macbook-pro-2019.jpg" width="90%">
                </figure>
                <div class='articulos'>
                <div class='truck'><i class="fas fa-truck"></i>
                </div><p class='precios'>$230.000</p>
                <p class='ofertas'>20% off</p>
                <p class='producto'>MacBook Pro 2019</p>
                </div>
            </article> 
            <article class='secciones'>
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="90%">
                </figure>    
                <div class='articulos'>
                <div class='truck'><i class="fas fa-truck"></i>
                </div>
                <p class='precios'>$70.500</p>
                <p class='ofertas'>10% off</p>
                <p class='producto'>Samsung Galaxy S10</p>
                </div>
            </article>
            <article class='secciones'>
                <figure>
                    <img src ="/images/img-tv-samsung-smart.jpg" width="90%">
                </figure>
                <div class='articulos'>
                <div class='truck'><i class="fas fa-truck"></i>
                </div>
                <p class='precios'>$23.200</p>
                <p class='ofertas'>5% off</p>
                <p class='producto'>SmartTv Samsung 43"</p>
                </div>
                </article>
        </section>
    </section>
    </main>
<footer>

 <section> 
    <div class='iconos-footers'><i class="fas fa-credit-card"></i></div>
    
    <li class='titulares-footer'>Paga con tarjeta de credito o en efectivo</li>
      <article>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </article>

      <div class='iconos-footers'><i class="fas fa-gift"></i></div>
      <li class='titulares-footer'>Envio gratis desde $ 2.500</li>
    <article> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
         Es un beneficio de Mercado Puntos.</article>

    <div class='iconos-footers'><i class="fas fa-user-shield"></i>
    </div>
    <li class='titulares-footer'>Seguridad, de principio a fin</li>
        <article>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. 
        </article>

    <li class='titulares-footer'>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
 </section>



</footer>


</body>
</html>