<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <img src = "/images/logo-mercado-liebre.svg">

 <div> lugar para poner la barra de busqueda</div>
 <p>compra en cuotas y sin tarjeta de credito</p>
 <ul>
     <li>ofertar</li>

     <li>tiendas oficiales </li>

     <li>Vender</li>

     <li>ayuda</li>
 </ul>

 <ul>
     <li>crea tu cuenta</li>
     <li> ingresa</li>
     <li> mis compras</li>
 </ul>

 <section>
    <h1>Basado en tu última visita</h1>
    <article><img src="/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p></article>
        
    <article><img src= "/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% off</p>
        <p>MacBook Pro 2019</p>
    </article> 
    <article> <img src="/images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>
    </article>
    <article><img src ="/images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p>
    </article>   
 </section>

 <section>
  <h1>Seccion De Ofertas</h1>
  article><img src="/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p></article>
        
    <article><img src= "/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% off</p>
        <p>MacBook Pro 2019</p>
    </article> 
    <article> <img src="/images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>
    </article>
    <article><img src ="/images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p>
    </article>
    
</section>

<main></main>

<footer></footer>
</body>
</html>