<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="../public/CSS/style.css">
    <title>Document</title>
    
</head>
<body class= 'body'>
 <header>
     <img src = "/images/logo-mercado-liebre.svg" width="200px">

 <div> lugar para poner la barra de busqueda</div>
 <p>compra en cuotas y sin tarjeta de credito</p>
 
</header>
 <ul>
     <li>Ofertas</li>

     <li>tiendas oficiales </li>

     <li>Vender</li>

     <li>ayuda</li>
 </ul>

 <ul>
     <li>crea tu cuenta</li>
     <li> ingresa</li>
     <li> mis compras</li>
 </ul>

 <section>
    <h1>Basado en tu última visita</h1>
    <article><img src="/images/img-cafetera-moulinex.jpg" width="200px">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p><b>Cafetera Moulinex</b></p>
    </article>
        
    <article><img src= "/images/img-macbook-pro-2019.jpg " width="200px">
        <p>$230.000</p>
        <p>20% off</p>
        <p><b>MacBook Pro 2019</b></p>
    </article> 
    <article> <img src="/images/img-samsung-galaxy-s10.jpg" width="200px">
        <p>$70.500</p>
        <p>10% off</p>
        <p><b>Samsung Galaxy S10</b></p>
    </article>
    <article><img src ="/images/img-tv-samsung-smart.jpg" width="200px">
        <p>$23.200</p>
        <p>5% off</p>
        <p><b>SmartTv Samsung 43"</b></p>
    </article>   
 </section>

 <section>
  <h1>Seccion De Ofertas</h1>
  article><img src="/images/img-cafetera-moulinex.jpg" width="200px">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p><b>Cafetera Moulinex</b></p>
    </article>
        
    <article><img src= "/images/img-macbook-pro-2019.jpg" width="200px">
        <p>$230.000</p>
        <p>20% off</p>
        <p><b>MacBook Pro 2019</b></p>
    </article> 
    <article> <img src="/images/img-samsung-galaxy-s10.jpg" width="200px">
        <p>$70.500</p>
        <p>10% off</p>
        <p><b>Samsung Galaxy S10</b></p>
    </article>
    <article><img src ="/images/img-tv-samsung-smart.jpg" width="200px">
        <p>$23.200</p>
        <p>5% off</p>
        <p><b>SmartTv Samsung 43"</b></p>
    </article>
    
</section>

<footer>

 <section> 
     <li><b>Paga con tarjeta de credito o en efectivo</b></li>
      <article>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </article>

    <li><b>Envio gratis desde $ 2.500</b></li>
    <article> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
         Es un beneficio de Mercado Puntos.</article>

    <li><b>Seguridad, de principio a fin</b></li>
        <article>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. 
        </article>

    <li><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></li>
 </section>



</footer>

<main></main>

<footer></footer>
</body>
</html>