*{
    box-sizing: border-box;
}


header{ 
    
    background-color: #EAC926;

    

    background-size: 100%;

   width: 100%;

    margin-bottom: auto;

}

main{
   text-align: center;
    width: 90vw;
    padding: 15px;
   
}

.logo-mercado{
    width: 100%;
    display: flex;
    justify-content: center;

}

.articulos{
 border-top: solid 1px #ebebeb;
 box-sizing: border-box;
 padding: 10px;
 text-align: left;

}

.fa-search{
    background-color: white;
    font-size: 1rem;
}
.truck{
    display: flex;
    color: #39b54a; 
    flex-direction: row-reverse;
    padding: 10px;

 

}

.burger-menu{
    color: white;
    background-color: #1259c3;
    border-radius: 20%;

    text-align: center;
    margin-top: 10px;
    padding: 5px;
    width: 2em;
    margin: 0 auto;
}


.titulares{

    font-size: 24px;
    
    text-align: center;
}

.ColorBotones{
    background-color: #1259c3;
    color: white;
    border-radius: 15%;
}

.iconos-footers{
   

    color: #1259c3;
 
    font-size: 2em;

}

body{
 margin: 0 auto;

 background-color: #ebebeb;
    
 font-family: 'Roboto', sans-serif;

   

}

.precios{ 
    
    font-size: 18px;
    font-weight: bold;
}

.ofertas{
    
    font-size: 1.5rem;
    color: #39b54a; 
    
}

.producto{
   
    font-size: 1rem;
    opacity: 0;
}

footer{
    background-color: white;

    text-align: center;


}

.titulares-footer{

    font-size: 18px;
    font-weight: bold;
}

.secciones{
 /*border: 0px solid white;*/
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
    
}

#banner{
    display: flex;
    width: 100%;
}



    .precio-oferta{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and ( max-width: 361px) {
    
   
    
    .seccion-header{
        display: none;}

    .producto{
        display: none;
    }
 } 


 @media screen and (min-width: 362px) {
     
    .burger-menu{
        display: none;
    }
    

}

@media screen and (min-width: 762px){
    
    .sections{
        display: flex;
      

    }

    .secciones{
        flex-flow: row wrap;
        justify-content: space-around;
    }

  .sections .secciones{
      flex-basis: 50%;
  }

  .secciones:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    box-sizing: border-box;
   
    }


 .secciones:hover .producto{
     opacity: 1;
     transition: opacity 2ms;
 }
 .secciones:hover .truck{
     rotate: -90deg;
     
 }
}